
@font-face {
  font-family: Game;
  src: url(Assets/Game.ttf);
  font-weight: bold;
}

h1, h2, h4{
  font-family: 'game';

}

h1{
  padding-top: 1em;
  padding-bottom: 0.444em;
}

h2{
  padding-bottom: 3em;
}

h4{
  margin-right: -4em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

wrapper{
  animation:fade 20s;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered{
  text-align: center;
}

.buttoncustom{
  margin-top: 6em;
  position: fixed;
}

/* Wrapper para imagen con tamaño fijo, evita que empuje el boton */
.wrapper{
  width: 212px;
  height: 212px;
}

